@charset "utf-8";
#demo {
width: 400px;
}
#window-zoom {
width: 500px;
height: 500px;
border: 2px solid #36393D;
background-color: #FFFFFF;
position: absolute;
overflow: hidden;
}
#window-zoom img {
position: relative;
}
#container-zoom {
position: relative;
left: 404px;
top: -529px;
}
#preview-zoom {
position: absolute;
border: 1px solid #4C91C0;
background-color: rgba(76,145,192,0.5);
display: none;
z-index: 999;
}/* CSS Document */

